.navbar-brand {
    margin-left: 1em;
}

#titulo {
    font-weight: 800;
    font-size: x-large;
    margin-left: 10px;
}

.nav-item {
    margin: 10px;
}

#azul {
    border-radius: 30px;
    color: white;
    width: 150px;
    text-align: center;
    background-color: #0971CE;
}

#azul:hover {
    color: rgb(219, 219, 219);
}

#azulTu {
    border-radius: 300px;
    color: white;
    width: 370px;
    height: 50px;
    text-align: center;
    background-color: #0971CE;
    margin-top: 30px;
    margin-right: 5px;
}

#azulNegro {
    border-radius: 300px;
    color: white;
    width: 370px;
    height: 50px;
    text-align: center;
    background-color: #080808;
    margin-top: 30px;
    margin-left: 5px;
}

#otro {
    width: 300px;
    height: 50px;
    background-color: #0971CE;
    color: white;
    border-radius: 20px;
    margin-top: 10px;
    margin-left: 20px;
}

#otro:hover {
    color: white;
    background-color: #000;
}

#you {
    border-radius: 10px;
    margin: 5px;
    box-shadow: 0px 0px 10px rgb(158, 158, 158);
}

#tituloMain {
    font-size: 8vw;
    text-align: center;
    color: rgb(7, 7, 7);
}

#slogMain {
    color: rgb(0, 0, 0);
    font-size: 40px;
    text-align: center;
}

#tuMain {
    margin-top: -15px;
}

#main {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#banner {
    margin: 5px;
    align-items: center;
    border-radius: 10px;
    height: 550px;
    position: relative;
    z-index: -1;
    box-shadow: 0px 0px 10px rgb(158, 158, 158);
}

#banner::before {
    content: "";
    background-image: url("img/bw.jpg");
    background-size: cover;
    position: absolute;
    top: 0px;
    border-radius: 10px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    opacity: 0.5;
}

#empresas {
    height: 660px;
    border-radius: 10px;
    margin: 5px;
}

#empresas2 {
    width: 1405px;
    margin: 5px;
    align-items: center;
    border-radius: 10px;
    height: 350px;
    position: relative;
    box-shadow: 0px 0px 10px rgb(158, 158, 158);
    -webkit-filter: grayscale(100%);
    /* Safari 6.0 - 9.0 */
    filter: grayscale(100%);
    content: "";
    background-image: url("img/empresas.gif");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    position: absolute;
    z-index: -1;
}

#empresasCard {
    width: 1200px;
    margin: 5px;
    margin-left: 100px;
    align-items: center;
    border-radius: 10px;
    height: 650px;
    box-shadow: 0px 0px 10px rgb(158, 158, 158);
    margin-top: 200px;
    margin-bottom: 20px;
    background-color: white;
}

.dot {
    height: 130px;
    width: 130px;
    background-color: #0971CE;
    border-radius: 50%;
    display: inline-block;
    box-shadow: 8px 6px 10px rgb(158, 158, 158);
    margin-bottom: 15px;
    margin-top: -100px;
}

#tituloEm {
    text-align: center;
    font-style: italic;
    font-size: 85px;
    margin-top: 35px;
    color: white;
}

#tituloCard {
    text-align: center;
    font-style: italic;
    font-size: 45px;
    color: black;
}

#tituloEmpresas {
    font-size: 38px;
    font-style: italic;
    color: rgb(0, 0, 0);
    padding: 25px;
    text-align: center;
    margin-bottom: -10px;
}

.grid {
    text-align: center;
    margin: 10px;
    display: grid;
    grid-template-columns: 33% 33% 33%;
}

.gridTwo {
    text-align: center;
    margin: 10px;
    display: grid;
    grid-template-columns: 33% 33% 33%;
}

.gridThree {
    text-align: center;
    margin: 10px;
    display: grid;
    grid-template-columns: 50% 50%;
}

.gridFour {
    text-align: center;
    margin: 10px;
    display: grid;
    grid-template-columns: 33% 33% 33%;
}

#cuadro {
    height: 150px;
    background-color: white;
    box-shadow: 0px 0px 10px rgb(158, 158, 158);
    margin: 10px;
    border-radius: 10px;
    position: relative;
}

#firstC {
    height: 350px;
    width: 350px;
    background-color: rgba(245, 245, 245, 0.178);
    border-radius: 10px;
    display: block;
    text-align: center;
    margin: auto;
    position: relative;
}

#puzz {
    width: 70px;
    margin-top: 30px;
    filter: brightness(0) invert(1);
}

#nosotros {
    text-align: center;
    margin-top: 100px;
    margin-bottom: 120px;
}

#nosotrosText {
    margin: 10px;
}

#cuadro:hover {
    box-shadow: 0px 0px 10px #1947BA;
    opacity: 0.7;
}

#imgSof {
    width: 200px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#registro {
    border-radius: 10px;
    margin: 5px;
}

#reg {
    margin-top: 30px;
    margin-bottom: -10px;
}

form {
    margin: 10px;
    margin-left: 20px;
}

input {
    width: 400px;
    height: 50px;
    border-radius: 20px;
    text-indent: 10px;
    box-shadow: 0px 0px 10px rgb(158, 158, 158);
}

#mision {
    display: block;
    margin-left: -100px;
    padding: 50px;
}

#tituloMision {
    margin-bottom: 17px;
    font-style: italic;
    font-weight: 700;
    font-size: 47px;
}

hr.new1 {
    border: 2px solid #1947BA;
    border-radius: 10px;
    width: 320px;
    margin-top: -5px;
}

hr.new2 {
    border: 2px solid #1947BA;
    border-radius: 10px;
    width: 920px;
    margin-top: -5px;
}

#gridReal {
    text-align: center;
    margin: 10px;
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
}

#imgRegistro {
    width: 101%;
    height: 90%;
    border-radius: 10px;
    margin: 100px;
    margin-left: -10px;
    border-width: 5px;
    border-style: solid;
    border-color: #000;
}

@media screen and (max-width: 1000px) {
    #imgRegistro {
        visibility: hidden;
    }
    #imgNosotros {
        visibility: hidden;
    }
    #noso {
        margin-left: -320px;
    }
    #tituloMain {
        font-size: 50px;
        margin: 100px;
        margin-bottom: 10px;
    }
    #botonesArr {
        grid-template-columns: 100%;
        margin-left: 70px;
    }
    #slogMain {
        font-size: 30px;
        margin-top: -40px;
        margin-bottom: -90px;
    }
    #tuMain {
        margin-top: -400px;
    }
    #imgSof {
        width: 100px;
    }
    #empresas {
        margin-top: -60px;
        height: 700px;
    }
    #navbarNav {
        text-align: center;
    }
    #azul {
        width: 510px;
    }
    #tuMain {
        margin-top: 5px;
        margin-bottom: -10px;
    }
    .gridTwo {
        text-align: center;
        margin: 10px;
        display: grid;
        grid-template-columns: 100%;
    }
    #registro {
        height: 700px;
    }
    .gridFour {
        text-align: center;
        margin: 10px;
        display: grid;
        grid-template-columns: 100%;
    }
    #firstC {
        margin-bottom: 50px;
    }
    hr.new2 {
        width: 450px;
    }
    #reg {
        margin-bottom: 20px;
    }
}